@zero: 0;

.editor-select {
  display: inline-block;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.alignMiddle {
  text-align: center;
}

.alignJustify {
  text-align: justify;
}